<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MindtekTestNGAutomation">
    <parameter name="username" value="standard_user"></parameter>
    <parameter name="password" value="secret_sauce"></parameter>
    <test name="Automating UI">
        <groups>
            <run>
                <include name="regression"></include>
            </run>
        </groups>
        <classes>
            <class name="tests.StoreTests"></class>
            <class name="tests.BlazedemoTests"></class>
            <class name="tests.RedshelfTests"></class>
            <class name="tests.StoreRegisterFunctionalityTests"></class>
            <class name="tests.StoreAddCartTests"></class>
            <class name="tests.SauceDemoTests"></class>
        </classes>
    </test>
</suite>
